package router

import (
	"context"
	"github.com/doors-dev/doors"
)

type PathA struct {
	Path bool `path:"/a"`
}

templ pageA(b doors.SourceBeam[PathA]) {
	<html>
		<head>
			@doors.Include()
		</head>
		<body>
			<div id="path">A</div>
			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					doors.LocationAssign(ctx, PathC{PathC1: true})
					return false
				},
			}
			<button id="assign">assign</button>
		</body>
	</html>
}

type PathB struct {
	Path bool `path:"/b"`
}

templ static(path string) {
	<html>
		<head></head>
		<body>
			<div id="path">{ path }</div>
		</body>
	</html>
}

type PathC struct {
	PathC1 bool `path:"/c1"`
	PathC2 bool `path:"/c2"`
}

templ pageC(b doors.SourceBeam[PathC]) {
	<html>
		<head>
			@doors.Include()
		</head>
		<body>
			@doors.Inject(0, b) {
				if ctx.Value(0).(PathC).PathC1 {
					<div id="path">c1</div>
				} else {
					<div id="path">c2</div>
				}
			}
			@doors.AHref{
				Model: PathC{
					PathC1: true,
				},
			}
			<a>c1</a>
			@doors.AHref{
				Model: PathC{
					PathC2: true,
				},
			}
			<a id="c2">c2</a>
			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					doors.LocationReplace(ctx, PathC{PathC2: true})
					return true
				},
			}
			<button id="replace">replace</button>
			<div id="marker">{ doors.RandId() }</div>
			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					doors.LocationReload(ctx)
					return false
				},
			}
			<button id="reload">reload</button>

			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					r.After(doors.AfterLocationAssign(PathB{}))
					return false
				},
			}
			<button id="assign_after">assign_after</button>
			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					r.After(doors.AfterLocationReplace(PathB{}))
					return false
				},
			}
			<button id="replace_after">replace_after</button>
			@doors.AClick{
				On: func(ctx context.Context, r doors.REvent[doors.PointerEvent]) bool {
					r.After(doors.AfterLocationReload())
					return false
				},
			}
			<button id="reload_after">reload_after</button>
		</body>
	</html>
}
