package test

import "github.com/doors-dev/doors"

type noBeam struct {
}

func (f noBeam) setBeam(_ doors.SourceBeam[Path]) {}

type Path struct {
	Vh bool `path:""`
	Vs bool `path:"/a"`
	Vp bool `path:"/a/:P"`
	P  string
}

type Fragment interface {
	setBeam(b doors.SourceBeam[Path])
	doors.Fragment
}

type Page struct {
	f      Fragment
	header string
}

func (p *Page) h1() string {
	return p.header
}

templ (p *Page) head(doors.SourceBeam[Path]) {
}

templ (p *Page) content(b doors.SourceBeam[Path]) {
	if p.f != nil {
		{{ p.f.setBeam(b) }}
		@doors.F(p.f)
	}
}

templ (p *Page) Render(b doors.SourceBeam[Path]) {
	@Document(p, b)
}
